{% extends 'layouts/base.html' %}

{% block script %}
    {{ super() }}
{% endblock %}

{% block title %}Authorize{% endblock %}

{% block body %}
    <p>The application <strong>{{ grant.client.client_name }}</strong> is requesting:
        <strong>{{ grant.request.scope }}</strong>
    </p>

    <p><strong>{{ current_user.username }}</strong></p>

    <form action="{{ url_for('auth.authorize_route') }}" method="post">
        <label>
            <input type="checkbox" name="confirm">
            <span>Consent?</span>
        </label>
        <br>
        <button>Submit</button>
    </form>
{% endblock %}
