<span>Create a new client:</span>
<form action="{{ url_for('developer.clients_route') }}" method="post">
    <div>
        <label for="client-name">Client Name</label>
        <input id="client-name" type="text" name="client_name">
    </div>
    <div>
        <label for="client-uri">Client URI</label>
        <input id="client-uri" type="url" name="client_uri">
    </div>
    <div>
        <label for="client-scope">Allowed Scope</label>
        <input id="client-scope" type="text" name="scope">
    </div>
    <div>
        <label for="client-redirect-uri">Redirect URIs</label>
        <textarea id="client-redirect-uri" name="redirect_uri" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label for="client-grant-type">Allowed Grant Types</label>
        <textarea id="client-grant-type" name="grant_type" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label for="client-response-type">Allowed Response Types</label>
        <textarea id="client-response-type" name="response_type" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label for="client-token-endpoint-auth-method">Token Endpoint Auth Method</label>
        <select id="client-token-endpoint-auth-method" name="token_endpoint_auth_method">
            <option value="client_secret_basic">client_secret_basic</option>
            <option value="client_secret_post">client_secret_post</option>
            <option value="none">none</option>
        </select>
    </div>
    <br>
    <button>Submit</button>
</form>